<form>
    <h1>APAGANDO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input [(ngModel)]="livro.titulo" matInput type="text" name="titulo" disabled />
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input [(ngModel)]="livro.nome_autor" matInput type="text" name="nome_autor" disabled />
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea [(ngModel)]="livro.texto" matInput type="text" name="texto" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-flat-button color="primary">Apagar</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-flat-button color="warn">Cancelar</button>
    </div>

</form>
