<form>
    <h1>ALTERANDO NOVA CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" [(ngModel)]="categoria.nome" name="nome" placeholder="Ex. Computação"/>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput type="text" [(ngModel)]="categoria.descricao" name="descricao" placeholder="Ex. Livros de Computação"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="thinking();update()" class="mat-elevation-z8"  mat-flat-button color="primary">Atualizar</button>
        <button (click)="cancelar()" class="mat-elevation-z8"  mat-flat-button color="warn">Cancelar</button>
    </div>

    <div *ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>

</form>
