<form>
    <h1>APAGAR CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" disabled/>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="thinking();delete()" class="mat-elevation-z8"  mat-flat-button color="primary">Apagar</button>
        <button (click)="cancelar()" class="mat-elevation-z8"  mat-flat-button color="warn">Cancelar</button>
    </div>

    <div *ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>
</form>
