<form>
    <h1>CRIANDO NOVO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input [(ngModel)]="livro.titulo" [formControl]="titulo" required matInput type="text" name="titulo" placeholder="Ex. Curso de Spring Boot" maxlength="100" />
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input [(ngModel)]="livro.nome_autor" [formControl]="nome_autor" required matInput type="text" name="nome_autor" placeholder="Ex. Daniel" maxlength="100" />
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea [(ngModel)]="livro.texto" [formControl]="texto" required matInput type="text" name="texto" placeholder="Ex. Lorem ipsum" maxlength="2000000"></textarea>
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()" class="mat-elevation-z8" mat-flat-button color="primary">Criar</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-flat-button color="warn">Cancelar</button>
    </div>

    <div *ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>

</form>
